* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main .city {
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border: 1px solid #000;
  position: relative;
}

/* sfondi delle città */
#new-york.city {
  background-image: url("../img/new-york.jpg");
}
#los-angeles.city {
  background-image: url("../img/los-angeles.jpg");
}
#shanghai.city {
  background-image: url("../img/shanghai.jpg");
}
#copenhagen.city {
  background-image: url("../img/copenhagen.jpg");
}
/* /sfondi delle città */

.city .city-name {
  padding: 20px;
  font-size: 35px;
  font-family: 'Dancing Script', cursive;
  background: #00000085;
  border-radius: 15px;
  text-decoration: none;
  color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.city .city-name:hover {
  text-decoration: underline;
  padding: 25px;
  font-size: 37px;
}

.city .layover {
  height: 100%;
  background: #00000030;
}
.city-name:hover + .layover {
  display: none;
}
